.problemBanner {
    align-items: center;
    padding-top: 10px;
}

.problemHeading{
    align-items: center;
    text-align: center;
    font-weight: bold; 
}

.imageContainer{
    align-items: center;
    display: flex;
    justify-content: center;
    perspective: 1000px;
    perspective-origin: center;
    margin-bottom: 8%;
}
.problemText{
    text-align: center;
    font-size: x-large;
    font-family: "Inter";

}
.problemImage {
    width: 68%;
    height: 68%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5); 
}
html[data-theme='dark'] .problemImage{
    width: 68%;
    height: 68%;
    box-shadow: 8px 8px 8px rgba(0, 0, 0,0.5); 
  }
.text-gradient {
    text-align: center;
    -webkit-text-fill-color: #0000;
    background: -webkit-linear-gradient(0deg,#fff 50%,#8282ff);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 0.5rem 0;
}
