/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .headerContainer {
  align-self: center;
  align-items: center;
  text-align: center;
 }
 .headerMain {
  text-align: center;
  align-items: center;

}

/* html[data-theme='dark'] .headerMain::before {
  background-color: black;
  text-align: center;
  align-items: center;
} */

.headerTitle {
  margin-bottom: 0%;
  font-size: 72px;
  font-family: "Arial";
}

.headerTagLine {
  font-size: 42px;
  font-family: Arial;
  padding-bottom: 50px;
}
.buttons {
  align-items: center;
  text-align: center;
  padding-bottom: 2%;
  gap: 40px;
 

}

.docButton {
  border-color: black;
  font-size: medium;
  font-family: Arial;
  margin-right: 10px;
}

.gitButton {
  border-color: black;
  font-size: medium;
}
.gitIcon {
  align-items: center;
  height: 15px;
  width: 15px;
  margin: 0%;
}
